nav ,.dropdown-menu{
    background-color: rgb(255,215,0) !important;
    
}

.dropdown-menu .nav-link , .dropdown-divider, .dropdown-item ,.nav-link{
    color: #1e1b26 !important;
}
.nav-link,.dropdown-item {
    font-size: 1.4rem;
    font-family: 'Odibee Sans', 'cursive';
    
}

.container-fluid{
    flex-wrap: nowrap !important;
}







