h2{
    color: rgb(255,215,0);
    font-family: 'Odibee Sans', 'cursive';
    font-size: 3rem;
    
}
h3{
    color: rgb(255,215,0);
    font-family: 'Odibee Sans', 'cursive';
    font-size: 2rem;
    padding: 0 .3rem ;
}

p{
   font-size: 1.3rem; 
   font-family: 'Roboto', sans-serif;
   font-weight:400;
   font-style:italic;
}



.creditContainer p{
    font-size: 1rem;
    display: block;

}
.creditContainer img{
    width: 3rem;
    height:3rem;
    border: none;
    border-radius: 50%;
}
.creditContainer img:hover{
    cursor: pointer;
    transform: scale(3,3) ;
}

button{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
a{
    text-decoration: none;
    transition:  color .15s ease-in-out;
    font-size: 1.1rem;
}
button:hover  a{
    color: white !important; 
}


.col-md-8{
    height: 618px !important;
    display: flex !important;
    flex-direction: column  !important;
    justify-content: space-between !important;
}

@media screen and (min-width: 1200px) and (max-width:1399px)
 {

    .col-md-8{
        height: 527px !important;
        
    }

    p{
        font-size: 1rem; 
      
     }

     h2{
       
        font-size: 2.5rem;
        
    }

    h3{
    
        font-size: 1.5rem;
        
    }
 }

 @media screen and (min-width: 992px) and (max-width:1199px)
 {

    .col-md-2{
        margin: 0 2rem;
    }
    .col-md-4 > img{
        height: 527px!important ;
        
    }
    .col-md-8{
        height: 527px !important;
        overflow: auto;
      
    }
    p{
        font-size: .9rem; 
      
     }

     h2{
       
        font-size: 2rem;
        
    }

    h3{
    
        font-size: 1.5rem;
        
    }
 }

 @media screen and (min-width: 768px) and (max-width:991px)
 {  

    .col-md-2{
        margin: 0 2rem;
    }
    .col-md-4 > img{
        height: 410px!important ;
        
    }

    .col-md-8{
        height: 410px !important;
        overflow: auto;
      
    }
    p{
        font-size: .8rem; 
      
     }

     h2{
       
        font-size: 1.5rem;
        
    }

    h3{
    
        font-size: 1rem;
        
    }
 }

 @media screen and  (max-width:767px)
 {  
    .col-md-8{
        overflow: auto;
        margin-top: .5rem;
    }
  
    p{
        font-size: 1rem; 
      
     }

     h2{
       
        font-size: 1.3rem;
        
    }

    h3{
    
        font-size: 1.2rem;
        
    }

    .creditContainer p{
        font-size: 1rem;
        display: inline-block;
        padding-left: 1rem;
        
    
    }
    .col-md-2{
        display: flex;
    }
    .col-md-2 img{
       margin-left: 3rem;
    }
 }