<div class="container">
    <div class="row py-5">
        <div class="col-md-4">
            <img [src]="imgPrefix+movieDetails.poster_path" alt="" class="w-100">
        </div>
        <div class="col-md-8">
            <div class="top">
                <div class="title-container d-flex align-items-center justify-content-between">
                    <h2>{{movieDetails?.title}}</h2>
                    <div class="rating-container d-flex" >
                        <div class="star-rating">
                            <h3> <i class="fas fa-star"></i>  {{movieDetails?.vote_average}}<sub>/10</sub></h3>
                        </div>
                        <div class="star-vote">
                            <h3> |{{movieDetails?.vote_count}} Votes </h3>
                        </div>
                    </div>
                </div>
                
                <div class="text-white  ">

                    <span>Release Date :<span class="px-1">{{movieDetails?.release_date}}</span></span><span
                        class="px-1">|</span><span>Language :<span
                            class="px-1">{{movieDetails?.original_language}}</span></span>


                </div>
            </div>
            <p class="text-muted">{{movieDetails?.overview}}</p>
            <div class="mid">
                <h3>Cast</h3>
                <div class="creditContainer  ">
                    <span class="row">
                        <span *ngFor='let movieCredit of movieCredits' class="col-md-2 text-center ">
                            <img [src]="imgPrefix+movieCredit.profile_path" alt="">
                            <p class="text-white ">{{movieCredit?.name}}</p>
                        </span>
                    </span>

                </div>
            </div>



            <!-- --------------------------------- -->

            <div class="icon-wrapper w-75">
                <div class="icon-container d-flex justify-content-between">
                    <div class="buttons">
                        <button class="btn btn-outline-danger p-2" [ngClass]='{"disabled": trailerNotFound}'>
                            <span class="fas fa-play"></span>
                            <span class=" aContainer px-2 text-danger">
                                <a class=" text-danger" [href]="trailerUrl" target="_blank">Watch Trailer</a></span>
                        </button>
                        <div *ngIf=' trailerNotFound' class="text-white"> Sorry this trailer not available in your country!</div>
                    </div>

                </div>
            </div>


            <!-- --------------------------- -->
        </div>


    </div>
</div>