
.col-md-4{
    
    height: 55vh !important;
}
img{
    border: none !important;
    
}
h1{
    font-size: 8rem;
    font-family: 'ZCOOL KuaiLe', 'cursive';
    color:rgb(255,215,0)
}
p{
    font-size:1.5rem ;
    color:rgb(255,215,0)
}