h4{
    color: rgb(255,215,0);
    /* color: rgb(206, 175, 0); */
    text-align: center;
    font-family: 'Odibee Sans', 'cursive';
    text-decoration: overline underline;
    font-size: 1.5rem;
    
}

h2{
    color: rgb(175 175 175);
    font-family: 'Odibee Sans', 'cursive';
    font-size: 3rem;
    display: flex;
}

h2 span{
    text-decoration: underline;
    opacity: .5;
    margin-inline-start: .5rem;
    color: rgb(255,215,0);
}

.form-control{
    border-left: 2px solid rgb(255,215,0) !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: 2px solid rgb(255,215,0) !important;
    border-radius: 0 !important;
    color:rgb(255,215,0) !important ;
    padding: 4px  !important;
    
}

.form-control:focus{
    border-color:rgb(255,215,0) !important;
    box-shadow:none !important;



}

.search {
    position: relative;
    padding-top: 2rem;
    
    }
.search input { 
   text-indent: 30px;
   height: 22px !important;
   background-color: #1e1b26;
   color: white;
   
}
.search img { 
 position: absolute;
 top: 3rem;
 width:1.5rem ;
 height: 1.1rem;
 left: 7px;
 border:none !important;
}

.search::after{
    content: "";
    border-right:2px solid rgb(255,215,0) ;
    
    position: relative;
    right: -99.9%;
    top:-1.1rem;

}


.item-content
{
	position: relative;
    cursor: pointer;
    margin-inline-end: 1rem;
    

}

.item-content img{
    /* height: calc(100vh - (18rem)); */
    height: 450px;
}

.item-overlay
{
	background-color: rgba(255,215,0,.705);
	position: absolute;
	bottom: 0;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s linear;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
   
}

.item-content:hover .item-overlay
{
	height: 100%;
	
}

.item-overlay h2
{
	font-size: 2rem;
	font-weight: 500;
}

.item-overlay p
{
	font-size: 1rem;
	font-weight: 900;
}
.item-overlay img{
    width: 7rem;
    height: 7rem;
    border:none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(255,215,0);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(255,215,0);
  }
